@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.google.com/search?client=firefox-b-d&q=rei%20do%20frango&tbs=lf:1,lf_ui:9&tbm=lcl&rflfq=1&num=10&rldimm=11042773469055577080&lqi=Cg1yZWkgZG8gZnJhbmdvSKvKjMKvtYCACFobEAAQARACGAAYARgCIg1yZWkgZG8gZnJhbmdvkgENbWVhbF9kZWxpdmVyeaoBQAoJL20vMGYyNXc5EAEaHhABIhogVv7E1U6RJRXQFvpBhoVybcaZPIUirhiOvyoRIg1yZWkgZG8gZnJhbmdvKAw&phdesc=dIAKhse9Mp0&ved=2ahUKEwijooyS-sr9AhVbpJUCHe39Cw4QvS56BAgcEAw&sa=X&rlst=f#rlfi=hd:;si:11105311986131280552,l,Cg1yZWkgZG8gZnJhbmdvSL3drLSjroCACFobEAAQARACGAAYARgCIg1yZWkgZG8gZnJhbmdvkgESY2hpY2tlbl9yZXN0YXVyYW50qgFACgkvbS8wZjI1dzkQARoeEAEiGiBW_sTVTpElFdAW-kGGhXJtxpk8hSKuGI6_KhEiDXJlaSBkbyBmcmFuZ28oDA,y,uviojn4X948;mv:[[-20.9942661,-46.061833],[-24.1321875,-51.8485142]]">I love Ticken</a>.</p>
</div>
